* {
    margin: 0;
    padding: 0;
    font-family:  DM Sans Thin;
   
}

body { font-weight: 400; }
strong, b { font-weight: 500; }

body {
  height: 100vh; 
  display: grid;
  place-items: center;
  background-color: #f2f0f3;
}

/* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
}
  
  .attribution { 
    font-size: 0.6875rem; 
    text-align: center;
 }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }

          .grid-container {
           background-color: #f2f0f3;
          display: grid;
          gap: 15px;
         width: 100%; 
          margin:0 auto;

        }

.grid-container > div {
  background-color: hsl(256, 67%, 59%);
  padding: 20px;
  border: none;
  border-radius: 9px;
  overflow: hidden;
 
}

.grid-container > div:nth-child(1) {
  padding: 40px;
}

.grid-container > div:nth-child(2) {
background-color: hsl(0, 0%, 100%);
}

.grid-container > div:nth-child(3) {
  background-color:  hsl(39, 100%, 71%);
}

.grid-container > div:nth-child(4) {
  background-color: hsl(254, 88%, 90%);
}

.grid-container > div:nth-child(5) {
}

.grid-container > div:nth-child(6) {
  background-color:  hsl(0, 0%, 100%);
}

.grid-container > div:nth-child(7) {
    background-color:  hsl(31, 66%, 93%);
  padding: 55px 24px;
}

.grid-container > div:nth-child(8) {
  background-color: hsl(39, 100%, 71%);
}

.grid-container > h1, h2, h3 {
  line-height: 1.0;
}

.grid-container >div p {
  font-size: 13px;
}



 #createschedule  span {
  color: hsl(256, 67%, 59%);
  font-style: italic;
 }

  #createschedule h2 {
font-size: var(--step-2);
  }

  #createschedule  img {
max-inline-size: 100%;  
min-inline-size: 150px;
  }


 #socialmedia h1 {
  color: white;
  text-align: center;
  font-size: 46px;
 }

 #socialmedia span {
  color: hsl(39, 100%, 71%);
 }

  #socialmedia p{
  color: white;
  text-align: center;
 }

  #socialmedia img {
  max-inline-size: 45%;
  min-inline-size: 180px;
margin: auto;
padding-top: 10px;
padding-bottom: 10px;
  }

  #socialmedia {
    display: grid;
  place-items: center;

  }

#scheduleto h2 {
  font-size: var(--step-1);
  padding-top: 24px;
}

#scheduleto img {
  max-inline-size: 170%;
  margin-top: 20px;
  margin-bottom: 20px;
  min-inline-size: 150px;
}



    #contentAI img {
       max-inline-size: 110%;  
       min-inline-size: 150px;
       margin-top: 35px;
    }

#contentAI h2 {
  font-size: var(--step-2);
}

#managemultiple img {
 max-inline-size: 150%;
 min-inline-size: 150px;
}

#managemultiple h2 {
  font-size: var(--step-1);
}

#maintainconsistent img {
  max-inline-size: 100%;
  min-inline-size: 140px;
}

#maintainconsistent {
  display: grid;
  place-items: center;
}

#maintainconsistent h2{
    font-size: var(--step-1);
}

#faster h1{
  font-size: var(--step-4);
}

#faster img{
  padding-top: 30px;
  max-inline-size: 90%;
  min-inline-size: 150px;
}

#grow {
display: flex;
align-items: center;
}

#grow h2 {
  font-size: 30px;
  color: white;
  display: inline;

}

#grow img {
  max-inline-size: 50%;
  min-inline-size: 190px;
float: left;
}

/* Tablet View */
@media only screen and (min-width:777px) {
        .grid-container {
  background-color: #f2f0f3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(4, 1fr);
   gap: 20px;
   height: 235vh;
   width: 100%;
    margin:0px auto;
}
}

/* Tablet View */
@media only screen and (min-width:916px) {
        .grid-container {
  background-color: #f2f0f3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(4, 1fr);
   gap: 20px;
   height: 170vh;
   width: 100%;
    margin:0px auto;
}

 }


   /* Desktop View */
      @media only screen and (min-width:1339px) {
        .grid-container {
  background-color: #f2f0f3;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(10, 1fr);
   gap: 25px;
   height: 118vh;
   max-width: 900px; 
    margin:60px auto;
}


.grid-container > div:nth-child(1) {
  grid-column: 3 / span 4;
  grid-row: 1 / span 4;
}

.grid-container > div:nth-child(2) {
  grid-column: 3/ span 2;
grid-row: 5 / span 3;
}

.grid-container > div:nth-child(3) {
  grid-column: 5/ span 2;
  grid-row: 5 / span 3;
}

.grid-container > div:nth-child(4) {
  grid-column:7/  span 2;
  grid-row: 1 / span 7;
}

.grid-container > div:nth-child(5) {
  grid-column: 5/span 4;
  grid-row: 8 / span 3;
}

.grid-container > div:nth-child(6) {
  grid-column: 3/ span 2;
  grid-row: 8 / span 3;
}

.grid-container > div:nth-child(7) {
  grid-column: 1 / span 2;
    grid-row: 1 / span 5;
}

.grid-container > div:nth-child(8) {
  grid-column: 1/ span 2;
  grid-row: 6/ span 5;
}
      }